.estimated-tax {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #000;
    z-index: -1 !important;
    margin-top: 5%;
    justify-content: center;
}

.tax-text {
    display: flex;
    color: grey;
    padding: 20px;
    text-align: center !important;
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
}

.para {
    margin: 20px;
    width: 80%;
    text-align: left;
    font-weight: light;
    color: gray;
}

.tax-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}
.tax-display {
    border: 1px solid black;
    width: 60%;
    height: 30px;
    margin: 20px;
    text-align: center;
    margin: 0 auto;
}

.checkbox-container {
    display: flex; /* add some margin between the checkbox and the label */
}

.btntax {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttontax {
    background-color: white;
    color: gray;
    border: 1px solid #ccc;
    justify-content: center;
    margin: 10px;
}

.checkbox {
    margin: 10px;
}

@media (max-width: 600px) {
    .estimated-tax {
        width: 80%;
        padding: 1em;
        margin: 15px auto;
    }
    .btntax {
        display: flex;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .buttontax {
        background-color: white;
        color: gray;
        border: 1px solid #ccc;
        justify-content: center;
        margin: 5px;
    }
    .tax-display {
        width: 100%;
    }
    .dollar {
        text-align: left;
    }
    .tax-text {
        text-align: left;
    }
}
